.roots {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.root {
    display: none;
    
    &.show {
        display: flex;
    }
}


.formWrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgba(0,0,0,.3);
    padding: 40px 24px 24px;
    width: 450px;
}

.choice {
    color: #4717F6;
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
    &:hover {
        color: #A239CA;
    }
}

.alert {
    color: #ff4d4f;
    margin: auto;
    text-align: center;
    display: none;
    &.show {
        display: inline;
    }
}