.popupMain {
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1030;
    font-weight: normal;
    white-space: normal;
    text-align: left;
    cursor: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    opacity: 0;
    &.show {
        transition: opacity 0.2s;
        opacity: 1;
    }
    .popupContent {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        .popupInner {
            background-color: #fff;
            background-clip: padding-box;
            border-radius: 24px;
            -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
        .popupMenu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 177px;
            min-height: 32px;
            margin: 0;
            padding: 5px 16px 0px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
            .iconClose {
                font-size: 16px;
                color: #4717F6;;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: #A239CA;
                }
            }
        }
        .popupTitle {
            min-width: 177px;
            min-height: 32px;
            margin: 0;
            padding: 0px 16px 0px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 500;
            border-bottom: 1px solid #f0f0f0;
            text-align: center;
            font-size: 24px;
        }
        .popupContent {
            padding: 12px 16px;
            color: rgba(0, 0, 0, 0.65);
            max-width: 350px;
        }
        .list {
            width: 100%;
            margin: 0 0px 3px 0px;
            font-size: 16px;
            .listTitle {
                border-bottom: 1px solid #f0f0f0;
            }

            .listChild {
                margin: 0px 15px 0px 20px;
                color: #4717F6;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    color: #A239CA;
                } 
                .iconAdd {
                    font-size: 16px;
                    text-align: center;
                    padding-left: 15px;
                }

   
            }
        }
    }
}