.loading {
    text-align: center;
    color: #A239CA;
    font-size: 66px;
    margin: auto;
    &.done {
        display: none;
    }
}

.iconCancel {
    font-size: 18px;
    color: #4717F6;;
    display: none;
    text-align: center;
    cursor: pointer;
    &.show {
        display: block;
    }
    &:hover {
        color: #A239CA;
    }
}

.icons {
    font-size: 18px;
    color: #4717F6;;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #A239CA;
    }
}

.form {
    margin-bottom: 24px;
    min-width: 330px;
    max-width: 430px;
}

.newword {
    margin: auto;

    .label {
        margin: auto;
        font-size: 24px;
        text-align: center;
        margin-bottom: 24px;
    }
}

.btn {
    color: #ffffff;
    border: 2px solid  #4717F6;
    background-color: #4717F6;
    word-break: normal;
    display: inline-block;
    outline: 0;
    text-align: center;
    max-width: 100%;
    line-height: 2.5;
    padding: 0 24px;
    min-width: 122px;
    border-radius: 5px;
    font-size: 15px;
    transition: .3s;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
    &:hover {
        border: 2px solid  #A239CA;
        background-color: #A239CA;
    }
}

.input {
    border-radius: 6px;
    padding: 8px 11px;
    background-color: #eceff1;
    border: 2px solid #eceff1;
    color: #37474f;
    margin: auto;
    width: 100%;
    margin-bottom: 24px;
}

.alert {
    //display: none;
    opacity: 0;
    pointer-events:none;
    text-align: center;
    background: #0e0b16;
    color: #fff;
    padding: 0 12px;
    border-radius: 4px;
    animation-duration: .3s;
    line-height: 20px;
    font-size: 13px;
    width: 40%;
    margin: auto;
    &.done {
        //display: block;
        transition: opacity 0.7s;
        opacity: 1;
    }
}
.antcustom {
    margin-bottom: 12px;
    & > span {
        & > span {
            button {
                background-color: #4717F6;
                border-color: #4717F6;
            }
            button:hover {
                background-color: #A239CA;
                border-color: #A239CA;
            }
        }
    }  
       /* span > span > .ant-btn-primary {
        background-color: #4717F6;
        border-color: #4717F6;
        &.ant-btn-primary:hover {
            background-color: #A239CA;
            border-color: #A239CA;
        }
    }*/

}