.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A239CA;
    font-size: 66px;
    width: 100%;
}
.customClass {
    background-color: #e06f6f;

    &.selected {
        background-color:#A239CA;
        color: #fff;
    }
}

.plaintext {
    color: #000;
    font-size: 14px;
    & > div {
        & > span {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }
}


.bookCoverhp {
    background-image: url(../../images/hpcover.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.bookCoverhobbit {
    background-image: url(../../images/hobbitcover.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.translatable {
    font-size: 14px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
    .bookTitle {
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .active {
            background-color:#A239CA;
            color: #fff; 
        }
        & > p {
            padding: 0;
            margin-bottom: 0.33em;
            cursor: pointer;
        }
        & > p:hover {
            background-color:#A239CA;
            color: #fff; 
        }
        .textspace {
            width: 5px;
        }
    }
    .active {
        background-color:#A239CA;
        color: #fff; 
    }
    & > p {
        padding: 0;
        margin-bottom: 0.33em;
        cursor: pointer;
    }
    & > p:hover {
        background-color:#A239CA;
        color: #fff; 
    }
    .textspace {
        width: 5px;
    }
}

.translatableTitle {
    font-size: 14px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 5px 0;
    .bookTitle {
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .translatable {
            font-size:18px;
            color: #000;
            display: flex;
            flex-wrap: wrap;
            margin: 5px 0 5px 0;
            .active {
                background-color:#A239CA;
                color: #fff; 
            }
            & > p {
                padding: 0;
                margin-bottom: 0.33em;
                cursor: pointer;
            }
            & > p:hover {
                background-color:#A239CA;
                color: #fff; 
            }
            .textspace {
                width: 5px;
            }
        }
    }
    .active {
        background-color:#A239CA;
        color: #fff; 
    }
    & > p {
        padding: 0;
        margin-bottom: 0.33em;
        cursor: pointer;
    }
    & > p:hover {
        background-color:#A239CA;
        color: #fff; 
    }
    .textspace {
        width: 5px;
    }
}