.logout {
    color: #fff;
    cursor: pointer;
    &:hover {
        color: #A239CA;
    }
}

.auth {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.divider {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}