.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
  flex: 0 0 33.3%;
  max-width: 300px;
  min-width: 250px;
}
.card {
  flex: 0 0 33.3%;
  max-width: 300px;
  margin: 12px 0px;
  position: relative;
  text-align: center;
  color: #fff;
  height: 35px;
  cursor: pointer;
  padding: 0px 25px 0 25px;
  min-width: 180px;

  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #A239CA;
  color: white;
  transform: rotateY(180deg);
}

.icons {
  font-size: 26px;
  color: black;
  &:hover {
    color: #A239CA;
  }
  &.active {
    color: #A239CA;
  }
}

.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}