.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    /*background-color: #000;*/
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 450px;
    flex-wrap: wrap;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 18px;
}

.divider {
    margin: 0 10px 0 30px;
    color: #000;
    font-weight: 400;
}

.menu {
    color: #4717F6;
    cursor: pointer;

    &:hover {
        color: #A239CA
    }

    /*cursor: pointer;

    &:hover {
        color: #A239CA
    }*/

    &.active {
        color: #A239CA;
    }
}

.menuRegister {
    color: #4717F6;
    cursor: pointer;

    &:hover {
        color: #A239CA
    }

    &.active {
        color: #A239CA;
    }
}