.footer {
    background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    .box {
        flex: 0 0 50%;
        max-width: 50%;
        margin: auto;
        position: relative;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        color: #fff;
    }
    .author {
        margin: auto;
        color: #fff;
        text-align: center;
        font-size: 12px;
        padding: 5px 0px;
    }
}