.cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000;

    .menu {
        color: #fff;
        display: flex;
        flex-direction: row;
        z-index: 3;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        width: 100%;
        max-width: 600px;
        cursor: pointer;

        .menuItem {
            align-self: flex-start;
            margin: auto;
            font-size: 18px;
            &:hover {
                color: #A239CA;
            }
        }
    }

    @keyframes rotateClockwise {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @mixin keyframes($animation-name) {
        @-webkit-keyframes #{$animation-name} {
          @content;
        }
        @-moz-keyframes #{$animation-name} {
          @content;
        }  
        @-ms-keyframes #{$animation-name} {
          @content;
        }
        @-o-keyframes #{$animation-name} {
          @content;
        }  
        @keyframes #{$animation-name} {
          @content;
        }
    }
      
    @mixin animation($str) {
        -webkit-animation: #{$str};
        -moz-animation: #{$str};
        -ms-animation: #{$str};
        -o-animation: #{$str};
        animation: #{$str};      
    }

    @include keyframes(slide-up) {
        0%,100% { opacity: 1; }
        0% { opacity: 0; }
    }

    @include keyframes(slide-down) {
        90% { opacity: 0; }
        0% { opacity: 1; }
    }

    @include keyframes(fadeinout) {
        90% { opacity: 0; }
        0% { opacity: 1; }
    }

    @include keyframes(slide-up-2) {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .main {
        font-size: 68px;
        color: white;
        padding: 0 0;
        letter-spacing: 1px;
        width: 100%;
        display: flex;
        justify-content: center;
        @include animation('slide-up 5s 1');
    }

    .anim1 {
        @include animation('slide-up 2s infinite');
    }
    .anim2 {
        opacity: 0;
        font-size: 68px;
        color: white;
        padding: 0 0;
        letter-spacing: 1px;
        @include animation('slide-up-2 5s 4s 1 forwards');
    }
    .anim3 {
        opacity: 0;
        /*background-image: url(../../images/logo-cc-1.png);*/
        height: 400px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include animation('slide-up-2 5s 5s 1 forwards');
    }

    img {
        width: 500px;
    }

    svg {
       width: 800px;
       g {
           fill: rgb(75, 209, 142);
       }
    }

    &:after{
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #000;
    }
   
   .wrap {
        position: relative;
        z-index: 1;
        min-width: 600px;
        min-height: 600px;
        max-width: 1200px;
        max-height: 1200px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
   }

   .header {
       font-size: 68px;
       color: white;
       padding: 24px 0;
       letter-spacing: 1px;
   }


   .decr {
       color: white;
       padding: 15px 0 30px 0;
       font-size: 20px;
       line-height: 1.55;
   }



}